<div class="container">
  <div class="flex-column">
    <div class="card-product sound mt-3">
      <%= cl_image_tag("anchor-lee-113IVSr9nX4-unsplash_kkale1",
        width: 120, height: 300) %>
      <div class="card-product-infos">
        <h2>Wip</h2>
        <p>Annas Peitsche <strong>Achtung</strong></p>
      </div>
      <%= audio_tag "whip.mp3",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
      <%= cl_image_tag("photo-of-two-laughing-women-walking-past-graffiti-wall-2346701_x8gxwa",
        width: 120, height: 300) %>
      <div class="card-product-infos">
        <h2>Funny</h2>
        <p>Funny <strong>Achtung</strong></p>
      </div>
      <%= audio_tag "laugh.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
      <%= cl_image_tag("boy-and-girl-sitting-on-bench-toy-1767434_iga4n1",
        width: 120, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h2>Funny</h2>
        <p>Funny <strong>Achtung</strong></p>
      </div>
      <%= audio_tag "joke.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
      <%= cl_image_tag("boy-and-girl-sitting-on-bench-toy-1767434_iga4n1",
       width: 120, height: 300) %>
      <div class="card-product-infos">
        <h2>Funny</h2>
        <p>Funny <strong>Achtung</strong></p>
      </div>
      <%= audio_tag "ok.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
     <%= cl_image_tag("animal-pet-cute-portrait-69932_gkbtok",
      width: 120, height: 300) %>
      <div class="card-product-infos">
        <h2>Funny</h2>
        <p>Funny <strong>Achtung</strong></p>
      </div>
      <%= audio_tag "purr.wav",  class: 'snipet' %>
    </div>

   <div class="card-product sound mt-3">
     <%= cl_image_tag("photo-of-perfume-3059609_tv2ojf",
      width: 120, height: 300, crop: :fill) %>
     <div class="card-product-infos">
       <h2>Funny</h2>
       <p>Funny <strong>Achtung</strong></p>
     </div>
     <%= audio_tag "fart.wav",  class: 'snipet' %>
   </div>

   <div class="card-product sound mt-3">
    <%= cl_image_tag("person-two-hand-leaning-on-wall-709801_jjheb4",
     width: 120, height: 300) %>
     <div class="card-product-infos">
       <h2>Funny</h2>
       <p>Funny <strong>Achtung</strong></p>
     </div>
     <%= audio_tag "klasse.mp3",  class: 'snipet' %>
   </div>

   <div class="card-product sound mt-3">
      <%= cl_image_tag("yawning-cat-1576193_siuaub",
       width: 120, height: 300) %>
      <div class="card-product-infos">
       <h2>Funny</h2>
       <p>Funny <strong>Achtung</strong></p>
     </div>
     <%= audio_tag "cat.wav",  class: 'snipet' %>
   </div>

   <div class="card-product sound mt-3">
     <%= cl_image_tag("broken-heart-love-sad-14303_qzfsud",
       width: 120, height: 300) %>
     <div class="card-product-infos">
       <h2>Funny</h2>
       <p>Funny <strong>Achtung</strong></p>
     </div>
     <%= audio_tag "disappointed.wav",  class: 'snipet' %>
   </div>
  </div>
</div>








