<div class="container">



<h1> Für Anna</h1>

  <div class="cards">
    <div class="card-product sound mt-3">
      <%= cl_image_tag("woman-standing-near-yellow-petaled-flower-2050994_1_skvl7r",
        width: 120, height: 300) %>
        <h2>Gelächter</h2>
      <%= audio_tag "laugh.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
        <%= cl_image_tag("anchor-lee-113IVSr9nX4-unsplash_kkale1",
          width: 120, height: 300) %>
          <h2>Peitsche</h2>
        <%= audio_tag "whip.mp3",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
      <%= cl_image_tag("close-up-photo-of-drum-set-995301_w4f1ph",
        width: 120, height: 300) %>
        <h2>Trommel</h2>
      <%= audio_tag "joke.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
      <%= cl_image_tag("boy-and-girl-sitting-on-bench-toy-1767434_iga4n1",
       width: 120, height: 300) %>
        <h2>Ok?</h2>
      <%= audio_tag "ok.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
     <%= cl_image_tag("animal-pet-cute-portrait-69932_gkbtok",
      width: 120, height: 300) %>
        <h2>Schnurren</h2>
      <%= audio_tag "purr.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
       <%= cl_image_tag("photo-of-perfume-3059609_tv2ojf",
        width: 120, height: 300, crop: :fill) %>
         <h2>Pfurz</h2>
       <%= audio_tag "fart.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
      <%= cl_image_tag("person-two-hand-leaning-on-wall-709801_jjheb4",
       width: 120, height: 300) %>
         <h2>Resigniertes Klatschen</h2>
       <%= audio_tag "klasse.mp3",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
        <%= cl_image_tag("yawning-cat-1576193_siuaub",
         width: 120, height: 300) %>
         <h2>Kitty Cat</h2>
       <%= audio_tag "cat.wav",  class: 'snipet' %>
    </div>

    <div class="card-product sound mt-3">
       <%= cl_image_tag("broccoli-161514_io70rk",
         width: 120, height: 300) %>
         <h2>Na toll</h2>
       <%= audio_tag "disappointed.wav",  class: 'snipet' %>
    </div>

  </div>
</div>








